@{
    ViewBag.Title = "Mockup Form";
}

@section subhead
{
    <h1>Gift Form Example</h1>

    <div>
        <p>This is an example of what the standard form COULD look like</p>
    </div>
}

<div ng-app="gift">
    <script type="text/ng-template" id="donorTemplate.html">
    <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <p class="small">{{match.model.address}}</p>
    </a>
</script>
    <form ng-controller="DonationController">
        <div class="well">
            <fieldset>
                <legend>Primary Donor Information</legend>
                <p>Enter the donor information here, or click "new donor" if they do not exist</p>
                <div class="form-group">
                    <span>Donor:</span>
                    <input type="text" class="form-control" placeholder="donor name" ng-model="donorSelected"
                           typeahead="donor as donor.display for donor in availableDonors | filter:{display:$viewValue}" typeahead-template-url="donorTemplate.html" />
                    <p class="help-block">You can enter any donor's name or their advance donor ID</p>
                </div>
                <div class="col-lg-8 col-lg-offset-4 well well-sm" ng-show="donorSelected.id">
                    <h4><i class="fa fa-gift"></i> {{donorSelected.display}}</h4>
                    <p>{{donorSelected.address}}</p>
                    <p>{{donorSelected.phone}}</p>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Additional Donors</legend>
                <p>Enter information about additional donors here</p>
                <div class="form-group" ng-repeat="additionalDonor in additionalDonors">
                    <span>Donor #{{$index+2}}</span>
                    <input type="text" class="form-control" placeholder="donor name" ng-model="additionalDonorSelected"
                           typeahead="donor as donor.display for donor in availableDonors | filter:{display:$viewValue}" typeahead-template-url="donorTemplate.html" />
                    <p class="help-block">You can enter any donor's name or their advance donor ID</p>
                    <div class="col-lg-8 col-lg-offset-4 well well-sm" ng-show="additionalDonorSelected.id">
                        <h4><i class="fa fa-gift"></i> {{additionalDonorSelected.display}}</h4>
                        <p>{{additionalDonorSelected.address}}</p>
                        <p>{{additionalDonorSelected.phone}}</p>
                    </div>
                </div>
                <button class="btn btn-default" ng-click="additionalDonors.push({});"><i class="fa fa-plus"></i> Add Another Donor</button>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>General Info</legend>
                <div class="form-group">
                    <span>When did you receieve this donation?</span>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>What type of transaction is this?</span>
                    <select class="form-control">
                        <option selected>Gift</option>
                        <option>Pledge</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>What tendor type did the donor supply?</span>
                    <select class="form-control" ng-model="tendor">
                        <option>Cash</option>
                        <option>Check</option>
                        <option>Ponies!</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <div class="well" ng-show="tendor === 'Cash'">
            <fieldset>
                <legend>Specific Cash Related Questions</legend>
                <div class="form-group">
                    <span>How much?</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" placeholder="$USD value of the cash donation" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well" ng-show="tendor === 'Check'">
            <fieldset>
                <legend>Specific Check Related Questions</legend>
                <div class="form-group">
                    <span>How much?</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" placeholder="$USD value of the cash donation" />
                    </div>
                </div>
                <div class="form-group">
                    <span>What's the check number?</span>
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="number" class="form-control" placeholder="check number" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Accounting Information</legend>
                <div class="form-group">
                    <span>How should this donation be used?</span>
                    <select class="form-control">
                        <option selected>Current Use</option>
                        <option>Endowed</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Enter the associated Kauali account number, or click 'new fund' you need to create a new fund (will delay processing)</span>
                    <input type="text" class="form-control" placeholder="kuali account number" ng-model="accountSelected"
                           typeahead="account as account.display for account in kfsAccounts | filter:{display:$viewValue}" />
                    <p class="help-block">You can enter a kuali account number or search on the account name</p>
                </div>
                <div ng-show="accountSelected.id">
                    <dl class="dl-horizontal">
                        <dt>Agency</dt>
                        <dd>{{accountSelected.agency}}</dd>
                        <dt>Kuali Account Number</dt>
                        <dd>{{accountSelected.id}}</dd>
                        <dt>UC Account Number</dt>
                        <dd>{{accountSelected.ucaccount}}</dd>
                        <dt>Fund Name</dt>
                        <dd>{{accountSelected.fund}}</dd>
                        <dt>Program</dt>
                        <dd>{{accountSelected.program}}</dd>
                        <dt>Account Purpose</dt>
                        <dd>{{accountSelected.purpose}}</dd>
                    </dl>
                </div>
                <div ng-hide="accountSelected.id">
                    <button class="btn"><i class="fa fa-plus"></i> Create a new fund</button>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Regulatory Requirements</legend>
                <p class="alert alert-warning">
                    Please answer the following questions truthfully and upload any supporting documentation as required
                </p>
                <div class="form-group">
                    <span>Is this gift from an employee to an account controlled by the same employee?</span>
                    <select class="form-control" ng-model="employeeAccount">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                    <div ng-show="employeeAccount === 'Yes'">
                        <br/>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1">
                                <button class="btn btn-danger"><i class="fa fa-file"></i> Upload Supporting Documentation [required]</button>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>Is the gift for Research from a non-individual entity?</span>
                    <select class="form-control" ng-model="researchEntity">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                    <div ng-show="researchEntity === 'Yes'">
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1">
                                <button class="btn btn-danger"><i class="fa fa-file"></i> Upload Supporting Documentation [required]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>

@section AdditionalScripts
{
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/ui-bootstrap-0.10.0.js"></script>*@
    <script src="~/Scripts/ui-bootstrap-tpls-0.10.0.js"></script>
    
    <script type="text/javascript">
        angular.module('gift', ['ui.bootstrap'])
            .controller('DonationController', function($scope) {
                $scope.donorSelected = undefined;
                $scope.dt = new Date();
                $scope.tendor = 'Cash';

                $scope.additionalDonors = [{}];
                $scope.availableDonors = [
                    { id: 'ABCDEFG', name: 'alice cooper', display: 'alice cooper (ABCDEFG)', address: '123 street, davis, ca', phone: '555-5555' },
                    { id: 'HIJKLMN', name: 'bob dobalina', display: 'bob dobalina (HIJKLMN)', address: '456 street, davis, ca', phone: '555-5555' }
                ];

                $scope.kfsAccounts = [
                    {
                        id: '3-GIMMEIT',
                        name: 'some fund',
                        display: 'some fund (3-GIMMEIT)',
                        ucaccount: '12345',
                        agency: 'regents',
                        fund: 'the good ole fund',
                        purpose: 'to airdrop donations into needy areas',
                        program: 'the mondavi center'
                    },
                    {
                        id: 'L-DONATES',
                        name: 'a different type of fund',
                        display: 'a different type of fund (L-DONATES)',
                        ucaccount: '67890',
                        agency: 'foundation',
                        fund: 'the magic schoolbus fund',
                        purpose: 'to be the best account it can be',
                        program: 'feed the hungry programmers'
                    }
                ];

                $scope.showWeeks = true;
                $scope.toggleWeeks = function () {
                    $scope.showWeeks = !$scope.showWeeks;
                };

                $scope.clear = function () {
                    $scope.dt = null;
                };

                // Disable weekend selection
                $scope.disabled = function (date, mode) {
                    return (mode === 'day' && (date.getDay() === 0 || date.getDay() === 6));
                };

                $scope.toggleMin = function () {
                    $scope.minDate = ($scope.minDate) ? null : new Date();
                };
                $scope.toggleMin();

                $scope.open = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();

                    $scope.opened = true;
                };

                $scope.dateOptions = {
                    'year-format': "'yy'",
                    'starting-day': 1
                };

                $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'longDate'];
                $scope.format = $scope.formats[2];
            });

    </script>
}
