@{
    ViewBag.Title = "Mockup Form";
}

@section subhead
{
    <h1>Gift Form Example</h1>

    <div>
        <p>This is an example of what the standard form COULD look like</p>
    </div>
}

<div class="well">
    <fieldset>
        <legend>Primary Donor Information</legend>
        <p>Enter the donor information here, or click "new donor" they do not exist</p>
    </fieldset>
</div>
<div class="well">
    <h3>second</h3>
</div>