@{
    ViewBag.Title = "Mockup Form";
}

<style type="text/css">
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 65px;
        text-align: center;
        padding-top: 35px;
    }
</style>

@section subhead
{
    <h1>Gift Form Example</h1>

    <div>
        <p>This is an example of what the standard form COULD look like</p>
    </div>
}

<div ng-app="gift">
    @Html.Partial("_Modals")

    <form ng-controller="DonationController">
        <div class="well">
            <fieldset>
                <legend>Primary Donor Information</legend>
                <div class="pull-right" ng-hide="donorSelected.id">
                    <button class="btn" ng-click="openLookupDonor()"><i class="fa fa-search"></i> Lookup existing donor</button>
                    <a href="#" class="btn btn-link"><i class="fa fa-external-link"></i> Create donor in Advance Web</a>
                </div>
                <p>Enter the donor information here, or click "create new donor" if you are sure they do not exist in advance</p>
                <div class="form-group has-feedback">
                    <span>Donor Advance ID [use: ABCDEFG]</span>
                    <input type="text" class="form-control" placeholder="advance ID#" ng-model="donorId" maxlength="7" />
                    <span class="form-control-feedback fa fa-check" ng-class="donorFeedbackClasses"></span>
                    <p class="help-block">Enter the donor's advance ID. If you don't know it, you can click "Lookup" to search for the donor information.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-4 well well-sm" ng-show="donorSelected.id">
                    <h4><i class="fa fa-gift"></i> {{donorSelected.display}}</h4>
                    <p>{{donorSelected.address}}</p>
                    <p>{{donorSelected.phone}}</p>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Additional Donors</legend>
                <p>Enter information about additional donors here</p>
                <div ng-repeat="additionalDonor in additionalDonors" ng-controller="AdditionalDonorController">
                    <div class="form-group has-feedback">
                        <span>Donor #{{$index+2}} AdvanceID</span>
                        <input type="text" class="form-control" placeholder="advance ID#" ng-model="additionalDonor.id" maxlength="7" />
                        <span class="form-control-feedback fa fa-check" ng-class="additionalDonor.statusClasses"></span>
                        <p class="help-block">Enter the donor's advance ID. If you don't know it, you can click "Lookup" to search for the donor information.</p>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-4 well well-sm" ng-show="additionalDonor.id && additionalDonor.valid">
                                <h4><i class="fa fa-gift"></i> {{additionalDonor.display}}</h4>
                                <p>{{additionalDonor.address}}</p>
                                <p>{{additionalDonor.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default" ng-click="additionalDonors.push({});"><i class="fa fa-plus"></i> Add Another Donor</button>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>General Info</legend>
                <div class="form-group">
                    <span>When did you receieve this donation?</span>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>What type of transaction is this?</span>
                    <select class="form-control">
                        <option selected>Gift</option>
                        <option>Pledge</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>What tendor type did the donor supply?</span>
                    <select class="form-control" ng-model="tendor">
                        <option>Cash</option>
                        <option>Check</option>
                        <option>Ponies!</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <div class="well" ng-show="tendor === 'Cash'">
            <fieldset>
                <legend>Specific Cash Related Questions</legend>
                <div class="form-group">
                    <span>How much?</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" placeholder="$USD value of the cash donation" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well" ng-show="tendor === 'Check'">
            <fieldset>
                <legend>Specific Check Related Questions</legend>
                <div class="form-group">
                    <span>How much?</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" placeholder="$USD value of the cash donation" />
                    </div>
                </div>
                <div class="form-group">
                    <span>What's the check number?</span>
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="number" class="form-control" placeholder="check number" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well" ng-show="tendor === 'Ponies!'">
            <fieldset>
                <legend>Specific Ponies Related Questions</legend>
                <div class="form-group">
                    <span>Is this the cutest pony ever?</span>
                    <select class="form-control">
                        <option selected>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                        <option>YES</option>
                    </select>
                </div>
                <img src="@Url.Content("~/Content/rainbow-dash.jpg")" alt="rainbow dash" />
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Accounting Information</legend>
                <div class="form-group">
                    <span>Enter the associated Kauali account number, or click 'new fund' you need to create a new fund (will delay processing)</span>
                    <input type="text" class="form-control" placeholder="kuali account number" ng-model="accountSelected"
                           typeahead="account as account.display for account in kfsAccounts | filter:{display:$viewValue}" />
                    <p class="help-block">You can enter a kuali account number or search on the account name</p>
                </div>
                <div ng-show="accountSelected.id">
                    <dl class="dl-horizontal">
                        <dt>Agency</dt>
                        <dd>{{accountSelected.agency}}</dd>
                        <dt>Kuali Account Number</dt>
                        <dd>{{accountSelected.id}}</dd>
                        <dt>UC Account Number</dt>
                        <dd>{{accountSelected.ucaccount}}</dd>
                        <dt>Fund Name</dt>
                        <dd>{{accountSelected.fund}}</dd>
                        <dt>Program</dt>
                        <dd>{{accountSelected.program}}</dd>
                        <dt>Account Purpose</dt>
                        <dd>{{accountSelected.purpose}}</dd>
                    </dl>
                </div>
                <div ng-hide="accountSelected.id">
                    <button class="btn" ng-click="openNewFund()"><i class="fa fa-plus"></i> Create a new fund</button>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Regulatory Requirements</legend>
                <p class="alert alert-warning">
                    Please answer the following questions truthfully and upload any supporting documentation as required
                </p>
                <div class="form-group">
                    <span>Is this gift from an employee to an account controlled by the same employee?</span>
                    <select class="form-control" ng-model="employeeAccount">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                    <div ng-show="employeeAccount === 'Yes'">
                        <br/>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1">
                                <button class="btn btn-danger"><i class="fa fa-file"></i> Upload Supporting Documentation [required]</button>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>Is the gift for Research from a non-individual entity?</span>
                    <select class="form-control" ng-model="researchEntity">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                    <div ng-show="researchEntity === 'Yes'">
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1">
                                <button class="btn btn-danger"><i class="fa fa-file"></i> Upload Supporting Documentation [required]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Finalization</legend>
                <div class="form-group">
                    <span>Appeal Code: enter it if you've got it</span>
                    <input type="text" class="form-control" placeholder="appeal code"/>
                </div>
                <div class="form-group">
                    <span>Donor Instructions: enter the donor instructions or upload them as a PDF file</span>
                    <div class="row">
                        <div class="col-lg-6">
                            <textarea class="form-control" rows="4" placeholder="enter donor instructions"></textarea>                            
                        </div>
                        <div class="col-lg-6">
                            <input type="file" class="form-control" ng-file-select="onFileSelect($files)">
                            <div class="drop-box">
                                <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                                     ng-show="dropSupported">
                                    Upload the file above or drop it here
                                </div>
                                <div ng-file-drop-available="dropSupported=true"
                                     ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                            </div>              
                            <progressbar max="100" value="donorInstructionsProgress" ng-show="donorInstructionsProgress">
                                <span style="color:black; white-space:nowrap;">{{donorInstructionsProgress}}%</span>
                            </progressbar>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-gift"></i> Create new donation</button> 
                |
                <button class="btn"><i class="fa fa-save"></i> Save for later</button>
                |
                <a href="#" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section AdditionalScripts
{
    <script src="~/Scripts/angular-file-upload-shim.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="~/Scripts/angular-file-upload.js"></script>
    <script src="@Url.Script("public/mockup.js")"></script>
}
